# Copyright 2018-2020 The OpenEBS Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: ci

on:
  pull_request:
    paths-ignore:
      - 'deploy/helm/**'
      - 'MAINTAINERS'
      - '*.md'
      - 'LICENSE'
    branches:
      # on pull requests to develop and release branches
      - develop
      - 'v*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: License Check
        run: make license-check

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unit test
        run: make test

      - name: Verify corrections
        run: make verify-src

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1

  sample-e2e-tests:
    runs-on: ubuntu-latest
    needs: ['lint', 'unit-test']
    strategy:
      fail-fast: true
      matrix:
        kubernetes: [v1.18.6]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.3.0
        with:
          minikube version: v1.9.2
          kubernetes version: ${{ matrix.kubernetes }}
          github token: ${{ secrets.GITHUB_TOKEN }}

      - name: Running sanity tests
        run: |
          ./ci/setup.sh
          ./ci/test.sh

  provisioner-nfs:
    runs-on: ubuntu-latest
    needs: ['lint', 'unit-test', 'sample-e2e-tests']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: v0.5.1

      - name: Build Image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./buildscripts/provisioner-nfs/provisioner-nfs.Dockerfile
          push: false
          platforms: linux/amd64, linux/arm64, linux/arm/v7, linux/ppc64le
          tags: |
            openebs/provisioner-nfs:ci

  nfs-server:
    runs-on: ubuntu-latest
    needs: ['lint', 'unit-test', 'sample-e2e-tests']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: v0.5.1

      - name: Build Image
        uses: docker/build-push-action@v2
        with:
          context: ./nfs-server-container
          file: nfs-server-container/Dockerfile
          push: false
          platforms: linux/amd64, linux/arm64, linux/arm/v7, linux/ppc64le
          tags: |
            openebs/nfs-server-alpine:ci
